
<div class="hero">
  <h1>Alex Clarke</h1>
  Backend developer, working towards full-stack, Coffee fiend.  
  
  <div class="social-list-container row justify-content-center">
    {% for social in site.socials %}
      <div class="social-wrapper">
        <a href="{{social.link }}">{{ social.name }}</a>
      </div>
    {% endfor %}
  </div>
</div>

