<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <title>Alex Clarke's Portfolio</title>
  <!-- Flashing cursor script-->
  <script type="text/javascript">
  function flashCursor(){
      let cursor = document.getElementsByClassName("cursor")[0]
      cursor.style.opacity = +!(cursor.style.opacity == 1)
  }

  window.setInterval(flashCursor, 650)
  </script>
</head>
