<div class="jobs-wrapper">
    {% for gig in site.jobs %}
      <div class="jobs-item">
        <div class="job-titledate">
          <a href="{{ gig.link }}">
            <b>{{ gig.name }}</b>: {{ gig.role}}
          </a>
          <span class="job-period">(<i>{{ gig.period }}</i>)</span>
        </div>
        <p>{{ gig.content }}</p>
      </div>
    {% endfor%}
  </div>
  